# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are: Some of the commonly used libraries used by Data Scientists include

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1.Tensorflow
2.Numpy
3.Scipy
4.Matplotlib


|DATA SCIENCE TOOLS|
|------------------|
|R Studio.         |
|Apache spark      |
|Tensor flow.      |

###  Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers.

17

In [15]:
def hms(seconds):
    h = seconds // 3600
    m = seconds % 3600 // 60
    s = seconds % 3600 % 60
    return '{:02d}:{:02d}:{:02d}'.format(h, 200, s)

print(hms(7500))  # Should print 02h05m00s
#This will convert 200 minutes to hours by diving by 60.

02:200:00

# OBJECTIVES
## List popular languages for Data Science.

*Python
*R
*Apache spark
*Scala
*SQL

## Author

Sindhuja